  .text-field{
    width:300px;
  }
  
  .close-item {
    background-color: #d8d8d8;
  }


  .item {
    margin-top: 10px;
  }

  .item-image{
    height: 150px;
  }

  .item-detail-btn{
    margin-top: 10px;
  }

  .detail-flex-body{
    display:flex;
    margin-top:30px;
  }

  .detail-image{
    height:450px;
  }

  .detail-text{
    width:60%;
    margin-left:60px;
  }

  .detail-item-text-margin{
    margin-bottom:40px;
  }
  
  .detail-item-price{
    color:#B12704;
    font-size:20px;
  }
  
  