  .text-field{
    width:300px;
  }
  
  .close-item {
    background-color: #d8d8d8;
  }

  .item {
    margin-top: 10px;
  }

  .item-image{
    height: 150px;
  }

  .item-detail-btn{
    margin-bottom: 10px;
  }

  .detail-flex-body{
    display:flex;
    margin-top:30px;
  }

  .detail-image{
    height:450px;
  }

  .detail-text{
    width:60%;
    margin-left:60px;
  }
  
  .detail-item-price{
    color:#B12704;
    font-size:20px;
    margin: 10px 0 40px;
  }

  .item-review-field{
    margin-top: 100px;
  }
  
  .item-review{
    margin-bottom: 60px;
  }

  .star-rating {
    position: relative;
    width: 5em;
    height: 1em;
    font-size: 25px;
  }

  .star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #ffcc33;
  }
  .star-rating-back {
    color: #ccc;
  }
  